.highlights {
  max-width: 1400px;
  margin: 0 auto;
}

.title-highlight p {
  font-family: "Poppins";
  font-size: 48px;
  padding: 40px 40px;
}

.imagens-highlights {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.basil {
  border-radius: 10px;
}

.highlight {
  color: blueviolet;
}
